* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: right;
    margin: 0 auto;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 25px;
}

.boton_acceder {
    background-color: #4285F4;
    color: #ffff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logohome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: block;
    width: 500px;
    height: 25px;
    margin: 20px;
    border-radius: 10px;
    border: solid gray 2px;
}

.botones_buscar {
    display: flex;
    justify-content: center;
    margin: 10px;
}